<% if @bug.errors.any?%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Errors occured while inserting information in form</h4>
        <ul>
            <% @bug.errors.full_messages.each do |msg|%>
                <li><%= msg %></li>
            <% end %>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>