<%= render 'shared/bug_errors'%>

<div class="container py-3 my-5 bg_container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2><strong>Update Bug</strong></h2>
            <hr class="my-4">
        </div>
    </div>
    <%= render 'form'%> 
</div>
